---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="post-content">
          {{post.excerpt}}
        </div>

        <span class="post-date">
          {{ post.date | date: "%B %d, %Y" | upcase }}
        </span>

        {% if post.tags | size != 0 %}
          <ul class="tagslist">
          {% for item in post.tags %}
            <li><a href="" title="">{{item}}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

      </li>
    {% endfor %}
  </ul>

</div>
