<div class="sidebar">
	<div class="post-link sideblock">
		<h4>文章目录</h4>
		<ul>
			{% for item in site.posts %}
			  <li>
			  	<a href="{{item.url}}" title="">{{item.title}}</a>
			  	<span>{{item.date | date: "%b %d, %Y"}}</span>
			  </li>
			{% endfor %}

		</ul>
	</div>
	<div class="category-list sideblock">
		<h4>分类</h4>
		<ul>
			{% for item in site.categories %}
			  <li><a href="" title="">{{item[0]}}</a></li>
			{% endfor %}

		</ul>
	</div>
	<div class="tag-list sideblock">
		<h4>标签</h4>
		<ul>
			{% for item in site.tags %}
			  <li><a href="" title="">{{item[0]}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>