.wrapper{
	position:relative;
	max-width:690px;
	margin:0 auto;
}


/* about page */

.about{
	padding: 40px 0;
	h1{
		color:#666;
		margin:20px 0;
		font-family:"Pacifico","Source Code Pro",Arial,sans-serif;
		font-size:20px;
		text-align:center;
	}
	p{
		font-size:14px;
		text-align:center;
		line-height:1.6;
		margin-top:10px;
	}
}
