<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        
        {{ content }}
        
      </div>
    </div>

    {% include footer.html %}

    {% include jsblock.html %}

    <script>
      $(document).ready(function(){
        if($(".home").length == 0){
          $(".avatar").attr("href","{{site.url}}");
          $(".logo-prompt").text("Back to Home");
        }
      });
    </script>

  </body>

</html>
