---
layout: default
---
<div class="post">
  <article>

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span>{{ page.author }}</span>{% endif %}</p>
      {% if page.categories | size != 0 %}
        <ul class="catelist">
        {% for item in page.categories %}
          <li><a href="" title="">{{item}}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if page.tags | size != 0 %}
        <ul class="tagslist">
        {% for item in page.tags %}
          <li><a href="" title="">{{item}}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </header>

    <div class="post-content">
      {{ content }}
    </div>

    <div class="comment-block">
      <p>评论功能暂未开放，有什么想说的你就憋着吧（笑）</p>
    </div>

  </article>
</div>